.group {
  width: 100%;
  align-self: flex-end;
  display: flex;
  border: 1px solid #fff;
  padding: 10px;
  margin-bottom: 10px;
  width: 40%;
  transition: 1s ease-in-out all;
}
input {
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}
input[placeholder] {
  color: #fff;
}
.button {
  width: 20%;
  border: none;
  padding: 0;
  border: none;
}
@media (max-width: 1100px) {
  .group {
    width: 100%;
  }
}
