<div class="container">
  <h1>Projects</h1>
  <div class="search-bar" *ngIf="searchMode==='name' ">
    <app-input
      (searchEvent)="onSearchNameChange($event)"
      placeholder="Search by name"
    ></app-input>

    <button (click)="onSearchButtonClick()">Искать по ключу</button>
  </div>
  <div class="search-bar" *ngIf="searchMode==='key' ">
    <app-input
      (searchEvent)="onSearchKeyChange($event)"
      placeholder="Search by key"
    ></app-input>

    <button (click)="onSearchButtonClick()">Искать по имени</button>
  </div>

  <app-table
    *ngIf="projectsResponse"
    [collection]="projectsResponse.Projects"
    [pageInfo]="projectsResponse.PageInfo"
    (pageChange)="onPageChange($event)"
    (itemExistenceClick)="onItemExistenceClick($event)"
  ></app-table>
</div>
